<form class="form">
  <div class="form__wrapper">
    <mat-form-field class="form__field">
      <input
        matInput
        placeholder="Серия"
        name="series"
        [(ngModel)]="passport.series"
      />
    </mat-form-field>
    <mat-form-field class="form__field">
      <input
        matInput
        placeholder="Номер"
        name="number"
        [(ngModel)]="passport.number"
      />
    </mat-form-field>
  </div>
  <mat-form-field class="form__input_full-width">
    <textarea
      matInput
      placeholder="Паспорт выдан"
      name="placeIssue"
      [(ngModel)]="passport.placeIssue"
    ></textarea>
  </mat-form-field>
  <div class="form__wrapper">
    <mat-form-field class="form__field">
      <!-- <input
        matInput
        placeholder="Дата выдачи"
        name="dateIssue"
        [(ngModel)]="passport.dateIssue"
      /> -->
      <input
        matInput
        [matDatepicker]="dateIssue"
        placeholder="Дата выдачи"
        name="dateIssue"
        [(ngModel)]="passport.dateIssue"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="dateIssue"
      ></mat-datepicker-toggle>
      <mat-datepicker #dateIssue></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="form__field">
      <input
        matInput
        placeholder="Код подразделения"
        name="departmentCode"
        [(ngModel)]="passport.departmentCode"
      />
    </mat-form-field>
  </div>
  <mat-form-field class="form__input_full-width">
    <input
      matInput
      placeholder="Фамилия"
      name="lastName"
      [(ngModel)]="passport.lastName"
    />
  </mat-form-field>
  <mat-form-field class="form__input_full-width">
    <input
      matInput
      placeholder="Имя"
      name="firstName"
      [(ngModel)]="passport.firstName"
    />
  </mat-form-field>
  <mat-form-field class="form__input_full-width">
    <input
      matInput
      placeholder="Отчество"
      name="secondName"
      [(ngModel)]="passport.secondName"
    />
  </mat-form-field>
  <div class="form__wrapper">
    <mat-form-field class="form__field">
      <!-- <input matInput placeholder="Пол" name="sex" [(ngModel)]="passport.sex" /> -->

      <mat-select placeholder="Пол" name="sex" [(ngModel)]="passport.sex">
        <mat-option [value]="'ЖЕН'">ЖЕН</mat-option>
        <mat-option [value]="'МУЖ'">МУЖ</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form__field">
      <!-- <input
        matInput
        placeholder="Дата рождения"
        name="birthDate"
        [(ngModel)]="passport.birthDate"
      /> -->
      <input
        matInput
        [matDatepicker]="birthDate"
        placeholder="Дата рождения"
        name="birthDate"
        [(ngModel)]="passport.birthDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="birthDate"
      ></mat-datepicker-toggle>
      <mat-datepicker #birthDate></mat-datepicker>
    </mat-form-field>
  </div>
  <mat-form-field class="form__input_full-width">
    <textarea
      matInput
      placeholder="Место рождения"
      name="birthPlace"
      [(ngModel)]="passport.birthPlace"
    ></textarea>
  </mat-form-field>
  <div class="form__button-wrapper">
    <button mat-raised-button type="submit" color="primary" (click)="submit()">
      Отравить
    </button>
  </div>
</form>
