.form {
  padding: 5px;
  min-width: 150px;
  width: 100%;
  box-sizing: border-box;
}

.form__input_full-width {
  width: 100%;
}

.form__wrapper {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 400px) {
    display: block;
    & .form__field {
      width: 100%;
    }
  }
}

.form__button-wrapper{
  display: flex;
  justify-content: flex-end;
}